.image 
img {
    float: left;
}

.display-4
{
    text-align: center;
}

.lead
{
    text-align: center;
}


.footer
    {
        position: absolute;
        bottom: 10px;
        font-size: larger;
        width: 100%;
        color: gray;
        text-align: center;
    }


.col-sm-4
    {
        padding: 20px;
    }
    