.image 
img {
    float: left;
    border-radius: 50%;
}

.display-4
{
    text-align: center;
}

.lead
{
    text-align: center;
}


.footer
    {
        position: absolute;
        bottom: 10px;
        font-size: larger;
        width: 100%;
        color: gray;
        text-align: center;
    }


.col-sm-4
    {
        padding: 20px;
    }
    

    h2 
    {
       font-size: 40px;
       color: gray;
       font-family: monospace;
    }

    .projects-container
    {
        width: 100%;
    }

    #top-card
    {
        margin-top: 8rem;
    }